*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: 2rem;
}

.grid{
    display: grid;
    height: 600px;
    width: 600px;
    grid-template-columns: repeat(16, 1fr);
    box-shadow: 0 0 1px 3px grey;
}

.box{
    user-select: none;
}

.box:hover{
    cursor: pointer;
}

.button{
    background: lightpink;
    transition: all .1s ease;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    user-select: none;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 5px 2px rgb(189, 189, 189);
}